@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Genos:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    background:#f5daaf;
    color:#fff ;
}
html{
    font-family: inter, roboto;
    font-weight: 500;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem ;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: inter, advent pro;
    font-size: 2rem;
    font-size: 600;
    color:#8e85e8;
    text-transform: uppercase;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color:#c28322;
}

main{
    display: flex;
    flex-direction: column;
}

.fotos{
    background: ;
    max-width: ;
}